# Gradle Files
Minecraft/FMCB/.gradle
Minecraft/FMCB/bin
Minecraft/FMCB/build
Minecraft/FMCB/gradle
Minecraft/FMCB/logs
Minecraft/FMCB/run
Minecraft/FMCB/gradlew
Minecraft/FMCB/gradlew.bat

# CMake/Ninja Files
/bin

# VSCode Project Files
Minecraft/FMCB/.vscode

# Eclipse Project Files
Minecraft/FMCB/.settings
Minecraft/FMCB/.project
Minecraft/FMCB/.classpath
Minecraft/FMCB/*.launch

# IntelliJ Project Files
Minecraft/FMCB/.idea

# Custom Scripts

# Output
bin/