# Gradle Files
Minecraft/FMCB/.gradle
Minecraft/FMCB/build
Minecraft/FMCB/gradle
Minecraft/FMCB/logs
Minecraft/FMCB/run
Minecraft/FMCB/gradlew
Minecraft/FMCB/gradlew.bat

# Eclipse Project Files
Minecraft/FMCB/.settings
.project
.classpath
*.launch

# IntelliJ Project Files
Minecraft/FMCB/.idea

# Custom Scripts

# Output
bin/