# Gradle Files
Minecraft/FMCB/.gradle
Minecraft/FMCB/build
Minecraft/FMCB/gradle
Minecraft/FMCB/logs
Minecraft/FMCB/run
Minecraft/FMCB/gradlew
Minecraft/FMCB/gradlew.bat

# Eclipse Project Files
.project
.classpath
*.launch
bin

# IntelliJ Project Files
/.gradle/
